
.body {font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/bg-interface-admin.jpg) ;
height: 20px;}
* {box-sizing: border-box;}
.gene1{
    background-color:white;
    width: 41% !important;
    height: 250px;
    margin: 0 auto;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  
  margin-bottom: 15px;
}
.h1{
  text-align: center;
  height: 90px;
}
.icon {
  padding: 10px;
  
  color: white;
  min-width: 30px;
  text-align: center;
}

.input-field {
  width: 80%;
  padding: 10px;
  outline: none;
  border-radius: 3%;
  
}

.input-field:focus {
  border: 2px solid rgb(255, 255, 255);
}

/* Set a style for the submit button */
.btn {
  background-color: rgb(186, 245, 78);
  color: white;
  padding: 15px 20px;
  border-radius: 5%;
  border: none;
  cursor: pointer;
  float: right;
  margin-right:  30px;
  width: 30%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
