/* @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    } */
  /* } */
* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 99%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 70px;
  }
  
.icon {
    padding: 10px;
    
    color: white;
    min-width: 30px;
    text-align: center;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: rgb(228, 243, 160);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -200px;
    margin-left: 400px;
    margin-left: 525px;
  }
  input[type=reset] {
    background-color: rgb(179, 185, 180);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -200px;
   
    
  
  }
  
  input[type=submit]:hover {
    background-color: #e7f59b;
  }
  input[type=reset]:hover {
    background-color: #bdb9b5;
  }
  .container {
    border-radius: 5px;
    background-color: #19acf0;
    width: 50%;
    padding: 20px;
    margin-left: 430px;
    height: auto;
  
  }
  .blue{
    color: blue;
  }
  .black{
    color: black;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }