#general{
    width: 100%;
}
.nav{
    width: 100%;
    text-decoration: none;
    margin-right: 50px;
    
}
.nav ul{
    float: left ;
    margin-right: 50px;
    background-color: black;
    width: 100%;
    height: 50px;
}
.nav ul li a{
    text-decoration: none;
    padding: 40px;
   height: 200px;
    color: white;
}
nav ul li a:hover {
    color: chocolate;
}